<ion-app>
  <ion-content class="ion-no-padding ion-no-margin" fullscreen>
    <ion-slides>
      <ion-slide *ngFor="let weather of forecast?.daily.slice(0,5)">
        <h6>{{weather?.dt | dataLocal }}</h6>
        <img [src]="'http://openweathermap.org/img/wn/'+ weather?.weather[0]?.icon+'@2x.png'"
          class="ion-no-padding ion-no-margin" />
        <h2 class="ion-no-padding ion-no-margin"><b>{{(weather?.temp?.day) | floor}}°</b></h2>
        <h4>{{currentWeather?.name}}</h4>
        <p>Temps max: {{(weather?.temp?.max) | floor}}°<br />
          Temps min: {{(weather?.temp?.min) | floor}}°<br />
          Pressure: {{weather?.pressure}}<br />
          Humidity: {{weather?.humidity}}</p>
      </ion-slide>
    </ion-slides>
  </ion-content>
</ion-app>
